.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://cloud.githubusercontent.com/assets/11746637/11202246/327c37b0-8cb4-11e5-8b1b-3dc8bf8a759e.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.1em 0.1em 0.1em;
}
